.chat-page { 
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.chat-topbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #009688;
  color: white;
  height: 85px;
  font-weight: 500;
  font-size: 1rem;
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.chat-container {
  flex-grow: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #ece5dd;
  display: flex;
  flex-direction: column;
  transition: height 0.2s;
}

.chat-input-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-shrink: 0;
  background-color: #f0f0f0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  transition: bottom 0.25s;
}


.chat-topbar .user-icon i {
  font-size: 1.5rem;
}

.user-icon .user-name {
  margin-top: 50px;
}

.chat-bubble {
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 15px;
  max-width: 80%;
  position: relative;
  word-wrap: break-word;
  color: black;
}

.chat-bubble.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.chat-bubble.received {
  background-color: #fff;
  align-self: flex-start;
  border: 1px solid #ccc;
  color: black;
}

.chat-bubble .time {
  display: block;
  font-size: 0.7rem;
  color: gray;
  text-align: right;
}

.chat-input-bar {
  display: flex;
  gap: 10px;
  padding: 10px;
  flex-shrink: 0;
  background-color: #f0f0f0;
  position: sticky;
  bottom: 0;
  z-index: 10;
  transition: bottom 0.25s;
}

.chat-input-bar input {
  flex-grow: 1;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input-bar button {
  padding: 8px 15px;
  border-radius: 20px;
}

.btn-link {
  color: white;
}

.btn-send {
  background-color: #009688;
  border: none;
  color: white;
}

.edit-mode {
  border: 2px solid #ff9800 !important;
  background-color: #fff3e0 !important;
}

.custom-action-sheet .action-sheet-button {
  font-weight: 600;
  font-size: 1rem;
}

.edit-button {
  color: #1976d2;
}

.delete-button {
  color: #d32f2f;
}

.delete-me-button {
  color: #f57c00;
}

.delete-all-button {
  color: #c2185b;
}

.custom-action-sheet .action-sheet-title {
  background-color: #f1f1f1;
  color: #333;
  font-weight: bold;
}
