<div class="chat-page">
  <div class="chat-topbar d-flex align-items-center">
    <button class="btn btn-link me-2" (click)="volverAChatGroup()">
      <i class="bi bi-arrow-left"></i>
    </button>
    <div class="user-icon me-2">
      <i class="bi bi-person-circle"></i>
    </div>
    <div class="user-name">
      {{ receiverName }}
    </div>
  </div>

    <div class="chat-container" #chatContainer>
    <div *ngFor="let msg of messages"
         class="chat-bubble"
         [ngClass]="{'sent': msg.emisorId === userId, 'received': msg.emisorId !== userId}">
      {{ msg.contenido }}
      <span class="time">{{ msg.fecha | date:'shortTime' }}</span>
    </div>
  </div>

    <div class="chat-input-bar d-flex">
      <input #chatInput type="text" [(ngModel)]="message" placeholder="Escribe un mensaje..."
            (keyup.enter)="sendMessage()" class="form-control me-2"/>
      <button class="btn btn-send" (click)="sendMessage()">Enviar</button>
    </div>
</div>
